---
import Layout from '../layouts/PageLayout.astro';
import Form from "../components/Form.astro";

---

<Layout title="Mati Canzani-contact">
  <section class="min-h-screen mt-8">
    <div class="flex justify-center items-end">
      <h2 class="uppercase text-slate-50 text-[3rem] font-bold z-10 absolute" transition:name="contact">
        Get in touch
      </h2>
      <span class="uppercase text-[#33383eab] text-[5rem] font-extrabold">
        Get in touch</span
      >
    </div>
    <Form />
  </section>
  
</Layout>