---
import { Image } from "astro:assets";
---

<script>
  import Lenis from "@studio-freight/lenis";
  import { gsap } from "gsap/dist/gsap";

  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  let cursor = document.getElementById("cursor-outline");
  let circularCursor = document.getElementById("circular-cursor");
  let cards = document.getElementsByClassName("inner");

  // Define event listener functions
  function handleMouseMove(event: any) {
    cursor?.classList.add("active");
    circularCursor?.classList.add("circular");
  }

  function handleMouseOver(event: any) {
    cursor?.classList.add("active");
    circularCursor?.classList.add("circular");

  }

  function handleMouseOut(event: any) {
    cursor?.classList.remove("active");
    circularCursor?.classList.remove("circular");
  }

  // Attach event listeners to each card
  for (let i = 0; i < cards.length; i++) {
    cards[i]?.addEventListener("mousemove", handleMouseMove);
    cards[i]?.addEventListener("mouseover", handleMouseOver);
    cards[i]?.addEventListener("mouseout", handleMouseOut);
  }

  gsap.registerPlugin(ScrollTrigger);

  const lenis = new Lenis();

  function raf(time: any) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  lenis.on("scroll", ScrollTrigger.update);

  gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
  });

  gsap.ticker.lagSmoothing(0);

  // gsap.to("#images", {
  //   yPercent: 100,
  //   ease: "none",
  //   scrollTrigger: {
  //     trigger: "#section-content",
  //     start: "top bottom",
  //     end: "top top",
  //     scrub: true,
  //   },
  // });
</script>

<div class="flex items-center flex-wrap gap-10 px-60 mx-auto">
  <div
    class="inner relative flex h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
  >
    <div
      class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
    >
      <div
        class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
      >
      </div>
    </div>
    <div class="relative p-6 px-6 py-14 md:px-12">
      <h2
        class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
      >
        How we design and code open-source projects?
      </h2>
    </div>
  </div>

  <div
    class="inner relative flex h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
  >
    <div
      class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
    >
      <div
        class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
      >
      </div>
    </div>
    <div class="relative p-6 px-6 py-14 md:px-12">
      <h2
        class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
      >
        How we design and code open-source projects?
      </h2>
    </div>
  </div>

  <div
    class="inner relative flex h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
  >
    <div
      class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
    >
      <div
        class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
      >
      </div>
    </div>
    <div class="relative p-6 px-6 py-14 md:px-12">
      <h2
        class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
      >
        How we design and code open-source projects?
      </h2>
    </div>
  </div>

  <div
    class="inner relative flex h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
  >
    <div
      class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
    >
      <div
        class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
      >
      </div>
    </div>
    <div class="relative p-6 px-6 py-14 md:px-12">
      <h2
        class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
      >
        How we design and code open-source projects?
      </h2>
    </div>
  </div>
</div>

<!-- 
<section
  id="content"
  class="w-full overflow-visible flex-col justify-center"
>
  <section id="images" class=" relative w-4/6 h-auto flex mx-auto">
    <Image
      class="w-full h-full"
      data-speed="0.8"
      src='https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg'
      alt="Project1"
      height={371}
      width={479}
    />
  </section>
  <section id="section-content" class=" relative w-screen h-screen z-10 px-60 bg-[#C4C1B6] ">
    <h2 class="text-3xl font-bold mb-4">Section Content Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac libero sed
      lectus fermentum varius. Nulla facilisi. Proin euismod libero nec justo
      ultrices, non euismod ex ultrices. Fusce ut dolor nec ligula facilisis
      euismod ac at mi. Nulla facilisi. Integer tristique augue vel justo
      euismod, vel interdum libero aliquam.
    </p>
  </section> -->
<!--       
      <div>
        <img
          class="w-full h-full object-cover"
          data-speed="0.8"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="w-full h-full object-cover"
          data-speed="0.8"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="w-full h-full object-cover"
          data-speed="0.8"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="w-full h-full object-cover"
          data-speed="0.8"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
          alt=""
        />
      </div> -->

<style>
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
</style>
