<!-- 
<script>
  import { gsap } from "gsap/dist/gsap";

  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  //////

  const exp = gsap.timeline({
    scrollTrigger: {
      trigger: "#experience",
      start: "top top",
      end: "+=10",
      scrub: true,
      markers: true,
      pin: "#experience",
    },
  });

  exp.to("#experience-middle", {
    "--progress1": 1,
    ease: "none",
    smoothOrigin: true,
  });
  exp.from(
    "#extraBox",
    {
      scaleX: 0,
      ease: "none",
    },
  );
</script>

  <div id="experience" class="relative w-full h-screen z-10 overflow-hidden">
    <div id="extraBox"
      class="absolute top-0 left-0  w-full h-full z-10 pointer-events-none"
    >
    </div>
    <div
      id="experience-middle"
      class="abolute flex items-center justify-center w-full h-screen"
    >
      <div class="flex justify-center flex-col mt-8 h-full">
        <div class="flex justify-center items-end" transition:name="who">
          <h2
            class="uppercase text-[4rem] font-bold z-10 absolute text-slate-50"
          >
            Who am I ?
          </h2>
          <span class="uppercase text-[#33383eab] text-[7rem] font-extrabold">
            Who am I ?
          </span>
        </div>
      </div>
    </div>
  </div>


  <style>
    :root {
      --progress1: 0;
    }
    #experience-middle {
      transform: scale(calc(var(--progress1) * 320)) !important;
      transform-origin: 48.2%;
    }
  </style> -->
