---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import "@fontsource-variable/nunito-sans";
import { ViewTransitions } from "astro:transitions";
import Cursor from "../components/Cursor";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="w-scree h-screen overflow-hidden">
    <Cursor client:load transition:persist="cursor" />
    <Header transition:persist="header" />
    <main>
      <slot />
    </main>
    <style is:global>
      html {
        font-family: "Nunito Sans Variable", sans-serif;
        background: #181a1d;
        background-image: url("../images/noise.svg");
        background-size: 12%;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      a,
      html,
      input {
        cursor: none;
      }

      .active {
        display: none;
      }
      .circular {
        display: block;
      }

    </style>
  </body>
</html>
